*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1,h2{
    font-family: serif;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.heading{
    text-align: center;
    line-height: 40px;
    color: white;
}
#majorHeading,.detail{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.detail{
    font-size: larger;
}
.btn2{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: medium;
    font-weight: 600;
}
.btn2:hover{
    background-color: teal;
}
#mainheading{
    margin-top: 30px;
    font-size: 40px;
}
#mainheading,#subheading{
    text-align: center;
}

@media (max-width: 820px){
    #mainheading{
    font-size: 30px;
    }
}
@media (max-width: 400px){
    .heading{
    font-size: 15px;
    }
    #subheading{
    text-align: center;
    }
}
@media (min-width: 853px) and (max-width: 1024px){
    .heading{
    font-size: x-large;
    }
}